/* div {
  border: 1px dashed orange;
}

span {
  border: 1px dashed red;
} */

body {
  text-align:center;
	margin: 0px;
}

#main {
  text-align: center;
	height: 99%;
}

#setup-controls {
	width: 80%;
	margin: auto;
	padding: 10px 5% 0% 5%;
}

#right-controls {
	width: 4%;
	margin: 1px 1px 1px 1px;
	float: right;
	clear: both;
}

#right-button {
	border-left: 1px black solid;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

#bottom-controls {
	height: 8%;
	width: 25%;
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 35%;
}

#bottom-container {
	width: 45%;
	float: left;
}

#bottom-button {
	width: 50%;
	margin-left: 45%;
	border-left: 1px black solid;
	border-right: 1px black solid;
	border-top: 1px black solid;
}

#main-container {
	width: 50%;
	margin: auto;
}

#inner-container {
	float: left;;
	width: 49%;
	text-align: center;
	margin: 0px 0px 0px 0px;
}

#counter {
  height: 85%;
	width: 95%;
}

/*#counter h1 {
  font-size: 180pt;
  padding: 2px;
  margin: 0px 0px 0px 0px;
}

#counter h2 {
  font-size: 100pt;
  padding: 2px;
  margin: 0px 0px 0px 0px;
}*/

#next {
  padding 10px;
}

label {
 	font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 6px 0px 1px 0px;
  clear: both;
}

.float-control {
  float: left;
	margin: 1px 4px 1px 4px;
	text-align: left;
}

.inactive {
  color: #666666;
}

.redback {
  background-color: #FF3333;
}

.yellowback {
  background-color: #FFFF66;
}

.img-button {
	height: 50;
	width: 50;
}