wiki-db/enwiki-latest-*
wiki-db/development.sqlite3
wiki-db
mediawiki
Code/log
Code/geografikos/log
.DS_Store
xml2sql-0.5
JWPL
svm-light
Datasets
run.log
nbproject
manifest.mf
build.xml
geonames
test.log
lingpipe-3.7.0
*.scale
Thumbs.db
*.dvi
*.tex~
*.aux
*.toc
*.bbl
*.log
*.vrb
*.blg
*.nav
*.out
*.snm
*.synctex.gz
